.navbar {
  color: rgb(143, 142, 142)
}

.drop-color {
  color: rgb(143, 142, 142)
}

body {
  color: rgb(143, 142, 142)
}

#intro-bg {
  background: url(./images/pawel-czerwinski-new-turq-purp.jpg) no-repeat center fixed;
  background-size: cover;
  height: 600px;
}

.intro {
  color:rgb(143, 142, 142);
}

#flash {
  animation: flash 4s linear 2s;
}

@keyframes flash {
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}

#projects-bg {
  background: url(./images/ethan-hoover-old-bulb-projects.jpg) no-repeat center fixed;
  background-size: cover;
  height: auto;
}


.img-wrap {
  max-width: 600px;
  margin: 0 auto;
}

.project-img {
  padding-top: calc(2 / 3 * 100%);
  background-position: center;
  background-size: cover;
}

